.home {
	@apply text-center;
	/* min-height: 100%;
	width: 100%;
	 */
	 padding: 12px;
}
.home .title {
	@apply text-3xl;
	margin: 20px 0 0 0;

	/* font-size: 42px;
	text-align: center;
	margin: 25% 0 16px; */
}
.home .tagline {
	@apply text-3xl leading-normal;
	margin: 8px 0 40px 0;
	/* margin: 0 0 15%;
	text-align: center;
	font-size: 24px; */
}
.home .PlayNow {
	@apply text-5xl text-white font-bold py-2 px-4 bg-purple-500 border-b-4 border-purple-700 rounded;
	display: flex;
    justify-content: center;
}
