.DiceBoard {
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    height: calc(100vh - 112px);

    max-width: 600px;
    margin: 0 auto;
}
.DiceBoard header {
    align-self: center;
}
.DiceBoard main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    justify-items: center;
    align-items: center;
    padding: 0 0 12px 0;
}
.DiceBoard footer button {
    background-color: green;
    color: white;
    font-size: 18px;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 3px;
}