.DiceBoard {
    display: grid;
    grid-template-rows: 1fr 50px;
    height: calc(100vh - 56px - 24px);
}
.DiceBoard header {
    align-self: center;
}
.DiceBoard header h3 {
    margin: 4px 0;
}
.DiceBoard main {
    display: grid;
    grid-template-rows: 50px 1fr;
    align-items: center;
}

.DiceBoard footer {
    display: flex;
}
.DiceBoard footer button {
    font-size: 18px;
    padding: 12px;
    border: none;
    border-radius: 3px;
}
.DiceBoard footer .RollDice {
    background-color: green;
    color: white;
    flex: 2;
    margin-right: 8px;
}
.DiceBoard footer .EndTurn {
    background-color: red;
    color: white;
    flex: 1;
}