.Die {
    border: 2px solid #000;
    border-radius: 2px;
    width: 100px;
    height: 100px;
    display: inline-block;
    text-align: center;
    /* vertical-align: middle; */
    font-size: 28px;
    font-weight: bold;
    line-height: 100px; 
}
.Locked {
    border: 2px solid gainsboro;
}